* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    height: 60px;
    background: #24354b;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    padding: 0 25px;
    transition: 0.3s;
    position: relative;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    line-height: 60px;
    display: block;
}
.nav-link i {
    margin: 0 10px;
}
.active {
    background: #009fe1;
}

.nav-list .nav-item:hover {
    background: #009fe1;
}

.nav-list .nav-item:hover .dropdown-lv1 {
    display: block;
}
.dropdown-lv1 .nav-item:hover .dropdown-lv2 {
    display: block;
}

[class^="dropdown"] {
    width: 220px;
    position: absolute;
    list-style: none;
    display: none;
    z-index: 10;
}

.dropdown-lv1 {
    top: 100%;
    left: 0;
    background-color: #385671;
}
.dropdown-lv2 {
    top: 0;
    left: 100%;
    background-color: #567987;
}